@media screen and (max-width:578px){
    .main-text h2{
        font-size: 40px !important;
        font-weight: 500 !important;
    }

    #join-us .container{
        text-align: center !important;
    }
    .social-icons{
        text-align: center !important;
        justify-content: center;
    }

}